.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  /* padding: 3rem 5rem; */
}


.left {
  flex: 0 0 auto;
  /* min-width: 340px; */
  height: 100vh;
}
.right {
  flex: 1 1 0%;
  min-width: 0;
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
  gap: 1rem;
}
.left,
.right {
  justify-content: flex-start;
}

.right{
  overflow-y: auto; /* enable vertical scrolling within the right column */
}

@media (max-width: 1120px) {
  .container {
    flex-direction: column;
    width: 100vw;
    height: auto;
  }
  .left,
  .right {
    width: 100%;
    min-width: 0;
    height: auto;
    padding: 1rem;
  }
}

@media (max-width: 1120px) {
  .container {
    flex-direction: column;
    width: 100vw;
    height: auto;
    min-height: 0;
    overflow-y: visible;
  }
  .left,
  .right {
    width: 100%;
    min-width: 0;
    height: auto;
    min-height: 0;
    padding: 1rem;
    overflow-y: visible;
  }
}